node_modules/
.DS_Store
Thumbs.db

.idea/
!.idea/**/vcs.xml
!.idea/**/encodings.xml
!.idea/**/codeStyleSettings.xml
!.idea/**/dictionaries
!.idea/**/copyrights
!.idea/**/misc.xml
!.idea/**/sqldialects.xml

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

*.sublime-project
*.sublime-workspace

coverage/
dist/

*.scss.d.ts
*.log

.cache/
.eslintcache
